*  {
    align-items: center;
    justify-content: center;
}
body{
    background-color: black;
    align-items: center;
    align-items: center;
    
}
h1, p {

    color: white;
    text-align: center;
}
img { 

align-items: center;

}